.promotion
  font-family: $regular
  height: 100vh
  background: url(../img/006_promotion/Group19.jpg) no-repeat center
  &-title
    display: block
    margin-bottom: 134px
    font-size: 47px
    line-height: 58px
    text-align: center
  &-box
    padding-top: 33px   
  &-wrap
    &__one
      transform: translateY(-30px)
      &::before
        position: absolute
        content: ''
        top: 67%
        left: -10px
        width: 8px
        height: 100px
        background-color: #7834BF
        display: block
        z-index: 1
        
    &__two
      transform: translateY(-130px)
      &::before
        position: absolute
        content: ''
        top: 63%
        left: -10px
        width: 8px
        height: 120px
        background-color: #DD4073
        display: block
        z-index: 1
    &__three
      transform: translateY(75px)
      &::before
        position: absolute
        content: ''
        top: 59%
        left: -10px
        width: 8px
        height: 145px
        background-color: #FF803B
        display: block
        z-index: 1
        