@import "variables"
@import "main"
@import "about"
@import "tools"
@import "public"
@import "promotion"
@import "result"
@import "tarif"
@import "efficiency"
@import "parameter"
@import "club"
@import "secure"





*
  box-sizing: border-box
  max-width: 1920px 
  margin: auto
  padding: auto
*:before, *:after
  box-sizing: border-box

.header
  padding: 18px 0 17px
.circle 
  height: 69px
  width: 69px
  border-radius: 50%
  margin: 0 auto
  background: linear-gradient(to right, #DF4071, #7333C2)
.button-o
  padding: 24px 81px 
  border: 2px solid
  background: transparent
  border-image: linear-gradient(to bottom, #DF4071, #7333C2)
  border-radius: 60px
  border-image-slice: 1
  &:hover
    cursor: pointer

.button
  padding: 24px 34px
  border-radius: 60px
  background: linear-gradient(108.23deg, #DF4071 6.75%, #7333C2 93.81%)
  border: none
  font-family: 'Roboto', sans-serif
  font-weight: bold
  font-size: 16px
  color: #fff
  &:hover
    cursor: pointer
.ru-btn
  padding: 13px 30px
  background: transparent
  border: 1px solid #fff
.en-btn
  padding: 13px 30px
  background: transparent
.footer
  font-family: $regular
  font-size: 18px
  line-height: 22px
  color: #FFFFFF
  background-color: #444444
  padding-top: 55px
  padding-bottom: 50px 
  &-text
    padding-bottom: 21px
    transform: translateY(10px)
  &-language
    display: flex
  
  
  
  
